<ion-header>
  <ion-toolbar>
    <ion-back-button slot="secondary" defaultHref="/home"></ion-back-button>
    <ion-title>Verlauf</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let entry of history" color="light">
      <ion-label>
        <h2>{{entry.cache}} {{entry.symbol}} {{entry.input}} = </h2>
        <h4>{{entry.result}}</h4>
      </ion-label>

      <ion-buttons item-end>
        <ion-button icon-only (click)="onDeleteEntry(entry)">
          <ion-icon name="close" slot="icon-only" ></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-item>
  </ion-list>
</ion-content>
