<ion-header size-md="4" offset-md="4">
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button routerLink="/history">
        <ion-icon slot="icon-only" name="reader-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Calculator Demo</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col size-md="4" offset-md="4">
        <ion-item>
          <ion-label position="stacked">{{equation}}
          </ion-label>
          <ion-input #equationInput>{{input}}</ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- percent -->
      <ion-col size-md="1" offset-md="4">
        <ion-button (click)="percent()" expand="full" color="secondary">
          <div>%</div>
        </ion-button>
      </ion-col>
      <!-- clear entry -->
      <ion-col size-md="1">
        <ion-button (click)="input = ''" expand="full" color="secondary">
          <div>CE</div>
        </ion-button>
      </ion-col>
      <!-- clear -->
      <ion-col size-md="1">
        <ion-button (click)="clear()" expand="full" color="secondary">
          <div>C</div>
        </ion-button>
      </ion-col>
      <!-- backspace -->
      <ion-col size-md="1">
        <ion-button (click)="delete()" expand="full" color="secondary">
          <ion-icon name="backspace-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- 1/x -->
      <ion-col size-md="1" offset-md="4">
        <ion-button (click)="reciprocal()" expand="full" color="secondary">
          <div><sup>1</sup>/<sub style="text-transform:lowercase">x</sub></div>
        </ion-button>
      </ion-col>
      <!-- x² -->
      <ion-col size-md="1">
        <ion-button (click)="square()" expand="full" color="secondary">
          <div style="text-transform:lowercase">x²</div>
        </ion-button>
      </ion-col>
      <!-- sqrt -->
      <ion-col size-md="1">
        <ion-button (click)="sqRoot()" expand="full" color="secondary">
          <div style="text-transform:lowercase">√(x)</div>
        </ion-button>
      </ion-col>
      <!-- div -->
      <ion-col size-md="1">
        <ion-button (click)="typeIn('/')"expand="full" color="secondary">
          <div>÷</div>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- 7 -->
      <ion-col size-md="1" offset-md="4">
        <ion-button (click)="typeIn('7')" expand="full">
          <div>7</div>
        </ion-button>
      </ion-col>
      <!-- 8 -->
      <ion-col size-md="1">
        <ion-button (click)="typeIn('8')" expand="full">
          <div>8</div>
        </ion-button>
      </ion-col>
      <!-- 9 -->
      <ion-col size-md="1">
        <ion-button (click)="typeIn('9')" expand="full">
          <div>9</div>
        </ion-button>
      </ion-col>
      <!-- mul -->
      <ion-col size-md="1">
        <ion-button (click)="typeIn('*')" expand="full" color="secondary">
          <div style="text-transform:lowercase">x</div>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- 4 -->
      <ion-col size-md="1" offset-md="4">
        <ion-button (click)="typeIn('4')" expand="full">
          <div>4</div>
        </ion-button>
      </ion-col>
      <!-- 5 -->
      <ion-col size-md="1">
        <ion-button (click)="typeIn('5')" expand="full">
          <div>5</div>
        </ion-button>
      </ion-col>
      <!-- 6 -->
      <ion-col size-md="1">
        <ion-button (click)="typeIn('6')" expand="full">
          <div>6</div>
        </ion-button>
      </ion-col>
      <!-- sub -->
      <ion-col size-md="1">
        <ion-button (click)="typeIn('-')" expand="full" color="secondary">
          <div>-</div>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- 1 -->
      <ion-col size-md="1" offset-md="4">
        <ion-button (click)="typeIn('1')" expand="full">
          <div>1</div>
        </ion-button>
      </ion-col>
      <!-- 2 -->
      <ion-col size-md="1">
        <ion-button (click)="typeIn('2')" expand="full">
          <div>2</div>
        </ion-button>
      </ion-col>
      <!-- 3 -->
      <ion-col size-md="1">
        <ion-button (click)="typeIn('3')" expand="full">
          <div>3</div>
        </ion-button>
      </ion-col>
      <!-- add -->
      <ion-col size-md="1">
        <ion-button (click)="typeIn('+')" expand="full" color="secondary">
          <div>+</div>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- toggle -/+ -->
      <ion-col size-md="1" offset-md="4">
        <ion-button (click)="negate()" expand="full">
          <div>-/+</div>
        </ion-button>
      </ion-col>
      <!-- 0 -->
      <ion-col size-md="1">
        <ion-button (click)="typeIn('0')" expand="full">
          <div>0</div>
        </ion-button>
      </ion-col>
      <!-- comma -->
      <ion-col size-md="1">
        <ion-button (click)="typeIn('.')" expand="full">
          <div>,</div>
        </ion-button>
      </ion-col>
      <!-- = -->
      <ion-col size-md="1">
        <ion-button expand="full" color="success" (click)="typeIn('=')">
          <div>=</div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
